
/*font*/
* {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/* Navigation bar */
nav {
    position: fixed;
    background-color: #a38195;
    padding: 20px 0;
    padding-left: 10.2vw;
    width: 100vw;
}
nav > a {
    text-decoration: none;
    margin-right: 25px;
    color: #212121;
    transition: color 0.5s ease;
}
nav > a:hover {
    text-decoration: none;
    margin-right: 25px;
    color: #c9abbd;
    transition: color 0.15s ease;
}

/* Home Page */
a > button {
    width: 160px;
    margin-top: 10px;
    margin-left: 10px;
    background-color:#3598dc;
    border: none;
    outline: none;
    padding: 12px;
    border-radius: 6px;
    color: white;
    font-size: 16px;
}

a > button:hover {
    background-color: #288bcc;
    transition: background-color 0.2s ease;
}

.asp {
    margin-top: 0px;
    margin-left: 15px;
    font-size: 1.3rem;
}

h1 {
    font-size: 5rem;
    margin-top: 150px;
    margin-left: 10px;
}

.shadow-img {
    width: 50vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.shadow-img img {
    margin-left: 2vw;
    width: 40vw;
    box-shadow: 0px 6px 22px 7px rgba(0,0,0,0.37);
}
    
/*Home Page*/

/*Docs*/
/*Side bar*/

.sidebar {
    margin-left: 50px;
    margin-top: 15px;
    padding-top: 12vh;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.sidebar > a {
    text-decoration: none;
    color: #292929;
    padding: 5px 20px;
    margin-bottom: 15px;
    font-size: 0.9rem;
    transition: color 0.2s ease;
}

.sidebar > a:hover {
    color: #000000;
    transition: color 0.2s ease;
}
/*side bar*/

/*Content*/

.documentation {
    margin-left: 15vw;
    width: 52vw;
    margin-bottom: 30vh;
}
