
/*font*/
* {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/* Navigation bar */
nav {
    background-color: #fff5fb;
    padding: 20px 10;
    padding-left: 10.2vw;
    width: 100vw;
}
nav > a {
    text-decoration: none;
    margin-right: 25px;
    color: #212121;
    transition: color 0.5s ease;
}
nav > a:hover {
    text-decoration: none;
    margin-right: 25px;
    color: #c9abbd;
    transition: color 0.15s ease;
}

/* Home Page */
a > button {
    width: 160px;
    margin-top: 10px;
    margin-left: 10px;
    background-color:#3598dc;
    border: none;
    outline: none;
    padding: 12px;
    border-radius: 6px;
    color: white;
    font-size: 16px;
}

a > button:hover {
    background-color: #288bcc;
    transition: background-color 0.2s ease;
}

.asp {
    margin-top: 0px;
    margin-left: 15px;
    font-size: 1.3rem;
}

h1 {
    font-size: 5rem;
    margin-top: 150px;
    margin-left: 10px;
}

.shadow img {
    margin-left: 2vw;
    width: 40vw;
}
    
/*Home Page*/
